.promo {
  margin: 0 auto;
  background-color: #073042;
}

.promo__title {
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  margin: 0;
}

.promo__subtitle {
  color: #FFF;
  opacity: .5;
  font-size: 13px;
  line-height: 15.73px;
  font-weight: 400;
  margin: 36px 0 0;
  width: 310px;
}

.promo__description {
  width: 1140px;
  margin: 93px auto 0;
  display: flex;
  justify-content: space-between;
}

.promo__text-content {
  width: 640px;
  display: block;
}